<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>OmniPreview Preview</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>QLSupportedContentTypes</key>
			<array>
				<string>public.zip-archive</string>
				<string>com.pkware.zip-archive</string>
				<string>public.tar-archive</string>
				<string>org.gnu.gnu-zip-archive</string>
				<string>org.gnu.gnu-zip-tar-archive</string>
				<string>org.7-zip.7-zip-archive</string>
				<string>com.rarlab.rar-archive</string>
				<string>org.tukaani.xz-archive</string>
				<string>public.bzip2-archive</string>
				<string>public.iso-image</string>
				<string>com.omnipreview.sqlite</string>
				<string>com.omnipreview.safetensors</string>
				<string>com.omnipreview.gguf</string>
				<string>com.omnipreview.onnx</string>
				<string>com.omnipreview.npy</string>
				<string>com.omnipreview.texture</string>
				<string>com.omnipreview.datafile</string>
				<string>com.omnipreview.diskimage</string>
				<string>com.omnipreview.cad</string>
				<string>com.omnipreview.tfstate</string>
				<string>com.omnipreview.fb2</string>
				<string>com.omnipreview.mobi</string>
				<string>com.omnipreview.shapefile</string>
				<string>org.idpf.epub-container</string>
				<string>com.bittorrent.torrent</string>
				<string>public.x509-certificate</string>
				<string>public.truetype-font</string>
				<string>public.truetype-ttf-font</string>
				<string>public.opentype-font</string>
				<string>com.omnipreview.woff</string>
				<string>public.png</string>
				<string>public.mpeg-4</string>
				<string>com.apple.quicktime-movie</string>
				<string>public.avi</string>
				<string>public.mp3</string>
				<string>com.apple.m4a-audio</string>
				<string>com.microsoft.waveform-audio</string>
				<string>org.xiph.flac</string>
				<string>org.xiph.ogg-audio</string>
				<string>org.webmproject.webm</string>
				<string>public.heic</string>
				<string>public.heif</string>
				<string>public.webp</string>
				<string>org.webmproject.webp</string>
				<string>public.avif</string>
				<string>com.apple.icns</string>
				<string>com.microsoft.ico</string>
				<string>public.yaml</string>
				<string>com.apple.disk-image-udif</string>
				<string>public.folder</string>
				<string>public.source-code</string>
				<string>public.python-script</string>
				<string>public.swift-source</string>
				<string>public.shell-script</string>
				<string>com.netscape.javascript-source</string>
				<string>com.sun.java-source</string>
				<string>public.c-source</string>
				<string>public.c-plus-plus-source</string>
				<string>public.c-header</string>
				<string>public.c-plus-plus-header</string>
				<string>public.objective-c-source</string>
				<string>public.objc-plus-plus-source</string>
				<string>public.script</string>
				<string>public.ruby-script</string>
				<string>public.php-script</string>
				<string>com.microsoft.typescript</string>
				<string>public.json</string>
				<string>public.xml</string>
				<string>public.html</string>
				<string>public.css</string>
				<string>public.plain-text</string>
				<string>com.apple.xcode.strings-text</string>
				<string>net.daringfireball.markdown</string>
				<string>com.omnipreview.markdown</string>
				<string>com.omnipreview.typescript</string>
				<string>com.omnipreview.ruby</string>
				<string>com.omnipreview.php</string>
				<string>com.omnipreview.csharp</string>
				<string>com.omnipreview.go</string>
				<string>com.omnipreview.rs</string>
				<string>com.omnipreview.kt</string>
				<string>com.omnipreview.lua</string>
				<string>com.omnipreview.scss</string>
				<string>com.omnipreview.terraform</string>
				<string>com.omnipreview.nix</string>
				<string>com.omnipreview.sql</string>
				<string>com.omnipreview.graphql</string>
				<string>com.omnipreview.dart</string>
				<string>com.omnipreview.scala</string>
				<string>com.omnipreview.toml</string>
				<string>com.omnipreview.ini</string>
				<string>com.microsoft.ini</string>
				<string>com.apple.log</string>
				<string>com.omnipreview.env</string>
				<string>com.omnipreview.log</string>
				<string>public.data</string>
				<string>com.omnipreview.cbz</string>
				<string>com.omnipreview.jar</string>
				<string>com.omnipreview.apk</string>
				<string>com.omnipreview.ipa</string>
				<string>com.omnipreview.dump</string>
				<string>com.omnipreview.deb</string>
				<string>public.archive.apk</string>
				<string>com.sun.java-archive</string>
				<string>com.sun.web-application-archive</string>
				<string>com.apple.itunes.ipa</string>
				<string>com.android.apk</string>
				<string>com.adobe.pdf</string>
				<string>org.openxmlformats.wordprocessingml.document</string>
				<string>org.openxmlformats.spreadsheetml.sheet</string>
				<string>org.openxmlformats.presentationml.presentation</string>
				<string>org.oasis-open.opendocument.text</string>
				<string>org.oasis-open.opendocument.spreadsheet</string>
				<string>org.oasis-open.opendocument.presentation</string>
				<string>com.microsoft.word.doc</string>
				<string>com.microsoft.excel.xls</string>
				<string>com.microsoft.powerpoint.ppt</string>
				<string>org.iso.sql</string>
				<string>org.idpf.epub-container</string>
				<string>com.omnipreview.mobi</string>
				<string>com.omnipreview.fb2</string>
				<string>public.jpeg</string>
				<string>public.tiff</string>
				<string>public.gif</string>
				<string>com.compuserve.gif</string>
				<string>com.adobe.photoshop-image</string>
				<string>public.geojson</string>
				<string>com.omnipreview.geojson</string>
				<string>com.google.earth.kml</string>
				<string>com.omnipreview.pytorch</string>
				<string>com.omnipreview.swift-package-manifest</string>
				<string>com.rsa.pkcs-12</string>
			</array>
			<key>QLSupportsSearchableItems</key>
			<false/>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.quicklook.preview</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).PreviewViewController</string>
	</dict>
</dict>
</plist>
