<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>OmniPreview Preview</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>QLSupportedContentTypes</key>
			<array>
				<string>public.zip-archive</string>
				<string>com.pkware.zip-archive</string>
				<string>public.tar-archive</string>
				<string>org.gnu.gnu-zip-archive</string>
				<string>org.gnu.gnu-zip-tar-archive</string>
				<string>org.7-zip.7-zip-archive</string>
				<string>com.rarlab.rar-archive</string>
				<string>org.tukaani.xz-archive</string>
				<string>public.bzip2-archive</string>
				<string>public.iso-image</string>
				<string>com.omnipreview.sqlite</string>
				<string>com.omnipreview.safetensors</string>
				<string>com.omnipreview.gguf</string>
				<string>com.omnipreview.onnx</string>
				<string>com.omnipreview.npy</string>
				<string>com.omnipreview.texture</string>
				<string>com.omnipreview.datafile</string>
				<string>com.omnipreview.diskimage</string>
				<string>com.omnipreview.cad</string>
				<string>com.omnipreview.tfstate</string>
				<string>com.omnipreview.fb2</string>
				<string>com.omnipreview.mobi</string>
				<string>com.omnipreview.shapefile</string>
				<string>org.idpf.epub-container</string>
				<string>com.bittorrent.torrent</string>
				<string>public.x509-certificate</string>
				<string>public.truetype-font</string>
				<string>public.opentype-font</string>
				<string>com.omnipreview.woff</string>
				<string>public.png</string>
				<string>public.geojson</string>
			</array>
			<key>QLSupportsSearchableItems</key>
			<false/>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.quicklook.preview</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).PreviewViewController</string>
	</dict>
</dict>
</plist>
